apiVersion: v1
kind: Service
metadata:
  name: auth-server
  namespace: dev
spec:
  type: ClusterIP
  selector:
    app: auth-server
  ports:
    - port: 9000
      targetPort: 9000
      protocol: TCP
      name: http
